<div class="container-fluid">
<%= form_for @forum, :html => {:multipart => true} do |f| %>
	
	<% if @forum.errors.any? %>
		<div class="row-fluid"><div class="span12">
              <div id="error_explanation">
                <ul>
                <% @forum.errors.full_messages.each do |msg| %>
                  <li>
				<%= "ram message" %>
				<%= msg %>
			</li>
                <% end %>
                </ul>
              </div>
		</div></div>
	<% end %>

	<div>
	<% if @course.id %>
		<input type="hidden" id="course_id" name="forum[course_id]" value="<%= @course.id %>" />
  	<% end %>
	</div>

	<div class="row-fluid">
		<div class="span6">	
    			<%= f.label :name %>
    			<%= f.text_field :name, :class=>'input-full' %>
			
			</br>

			<%= f.label :description %><br />
    			<%= f.text_area :description, :class=>'input-full' %>
		
			</br>

			<div>
				<%= raw @ayah.get_publisher_html %>
			</div>

			</br>

			<% if can? :create, Forum %>
				<div>
      				<%= f.submit "Create Forum", :class => "btn btn-primary" %>
				</div>
			<% end %>
		</div>

  		
	</div>
  
<% end %>
</div>