<% provide(:title, "Edit user") %> 

<div class="row">
  <div class="span6 offset3">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal well" }) do |f| %>
      <%= devise_error_messages! %>

      <h3>Edit Settings</h3>

      <div class="control-group">
        <%= f.label :name, "Full Name", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>    
      </div>

      <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
          <%= f.email_field :email %>
        </div>    
      </div>

      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password, :autocomplete => "off" %>
          <span class="help-inline">(leave blank if you don't want to change it)</span>
        </div>    
      </div>

      <div class="control-group">
        <%= f.label :password_confirmation, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password_confirmation, :autocomplete => "off" %>
        </div>    
      </div>


      <div class="control-group">
        <%= f.label :current_password, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :current_password, :autocomplete => "off" %>
          <span class="help-inline">(needed to confirm your changes)</span>
        </div>    
      </div>

      <div class="control-group">
        <%= f.label :twitter_username, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :twitter_username, :autocomplete => "off" %>
          <span class="help-inline">(for displaying recent tweets)</span>
        </div>    
      </div>

      <div class="control-group">
        <%= f.label :role, "User Type", {:class => "control-label"} %>
      	<div class="controls form-inline">
      		<%=f.radio_button :role, "user", {:class => 'radio'}  %>&nbsp;<%=f.label :role, "Course Taker", :value => 'user' %>
      	</div>
        
        <div class="controls form-inline">
        	<%=f.radio_button :role, "creator", {:class => 'radio'}  %>&nbsp;<%=f.label :role, "Course Creator (can also take courses)", :value => 'creator' %>
      	</div>
      </div>
	
	</br>

      <div class="controls">
        <%= f.submit "Update", class: "btn btn-primary" %>
        <%= link_to "Cancel", :root %>
      </div>
    <% end %>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

    
  </div>
</div>
