<%= provide(:title, 'Sign up') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal well"}) do |f| %>
    <h3>Sign Up</h3>

      <% devise_error_messages!.each do |key, value| %>
          <div class="flash <%= key %>"><%= key %> <%= value %></div>
      <% end %>
      
      <div class="control-group">
        <%= f.label :name, "Full Name", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>    
      </div>

      <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
          <%= f.email_field :email %>
        </div>    
      </div>

      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>    
      </div>

      <div class="control-group">
        <%= f.label :password_confirmation, "Password Confirmation", {:class => "control-label"} %>
        <div class="controls">
          <%= f.password_field :password_confirmation %>
        </div>    
      </div>

      <div class="control-group">
        <%= f.label :role, "User Type", {:class => "control-label"} %>
      	<div class="controls form-inline">
      		<%=f.radio_button :role, "user", {:class => 'radio'}  %>&nbsp;<%=f.label :role, "Course Taker", :value => 'user' %>
      	</div>
        
        <div class="controls form-inline">
        	<%=f.radio_button :role, "creator", {:class => 'radio'}  %>&nbsp;<%=f.label :role, "Course Creator (can also take courses)", :value => 'creator' %>
      	</div>
      </div>
	
	</br>

      <div class="control-group captcha">
        <%= @captcha_html.try(:html_safe)  %>
      </div>
      
      <div class="controls">

	  </br>

        <%= f.submit "Sign up", class: "btn btn-primary" %>&nbsp;or <%= link_to "Sign in", new_session_path(resource_name) %>

        <%= render "shared/login_authentication_links" %>
 
      </div>
    <% end %>
  </div>
</div>
