<%= form_for [@course, @course_module], :html => {:multipart => true} do |f| %>

  <div class="tab-container course-class">
    <div class="subnav">
        <ul class="tabs">
            <li class="tab-header">
              <span>
                <%= link_to 'Basic Info', edit_course_path(@course) %>
              </span>
            </li>

            <li class="tab-header classes-tab selected">
              <span>
                <%= link_to 'Modules', course_course_modules_path(@course) %>
              </span>
            </li>
        </ul>
        <span class="tab-bg"></span>
      </div>
      <div class="metadata-container">
        <% if @course_module.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @course_module.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="metadata-tab">
          <fieldset class="metadata-two-column">
              <%= f.hidden_field :class_type%>
              <%= f.label :name, @course_module.class_type + " Module Name" %>
              <%= f.text_field :name, :class => 'input-text'%>
              <%= f.label :summary %>
              <%= f.text_area :summary, :class => 'input-textarea' %>
          </fieldset>
          
          <% if @course_module.class_type != "Quiz" %>
          <fieldset class="metadata-column">
             <%= f.label :file %>
             <%= f.file_field :file, :class=>'input-text'%>
             <%= f.hidden_field :file_cache %>
          </fieldset>
          <% end %>
          <% 
          i = 1
          if @course_module.class_type == "Quiz" %>
            
              <%= f.fields_for :quiz do |quiz| %>
                <fieldset class="metadata-two-column">
                  <%= quiz.label :passing_score%>
                  <%= quiz.text_field :passing_score, :class => 'input-text'%>
                </fieldset>
                
                <%= quiz.fields_for :quiz_questions do |question| %>
                  <fieldset class="metadata-two-column">
                  <%=question.label :question, "Question " + i.to_s%>
                  <% i += 1 %>
                  <%=question.text_field :question, :class => 'input-text'%>
                  <span style="float:left;">(Check the correct answer)</span>
                  <%= question.fields_for :quiz_answers do |answer| %>
                    <%= answer.label :answer, :class => 'answer'%>
                    <%= answer.check_box :correct_answer, :class => 'input-check correct_answer'%>
                    <%= answer.text_field :answer, :class => 'input-text answer'%>
                  <% end %>
                  </fieldset>
                <% end %>
              <% end %>
            
          <% end %>
        </div>
        <div class="actions">
          <% if @course_module.class_type == "Quiz" %>
            <%= f.submit 'Add question', :name => "add_question" %>
          <% end %>
          <%= f.submit %>
        </div>
      </div>
  </div>
  
<% end %>
