<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li>
      <%= link_to 'Basic Info', edit_course_path(@course) %>
    </li>
    <li class="active">
      <%= link_to 'Modules', course_course_modules_path(@course) %>
    </li>
  </ul>
  <%= form_for [@course, @course_module], :html => {:multipart => true} do |f| %>
  
    <% if @course_module.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @course_module.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="row-fluid">
      <div class="span6">
        <%= f.hidden_field :class_type%>
        <%= f.label :name, @course_module.class_type + " Module Name" %>
        <%= f.text_field :name, :class => 'input-full'%>
        <%= f.label :summary, "Description" %>
        <%= f.text_area :summary, :class => 'input-full' %>

        <% if @course_module.class_type == "Image" && @course_module.file.present? %>
          <div>
            <%= image_tag @course_module.file.url, :width => "200",  :alt => "Image" %>
          </div>
        <% end %>
            
        <% if @course_module.class_type != "Quiz" %>
           <%= f.label :file %>
           <%= f.file_field :file, :class=>'input-full', :value => @course_module.file %>
           <%= f.hidden_field :file_cache %>
        <% end %>
        <% 
        i = 1
        if @course_module.class_type == "Quiz" %>
          
            <%= f.fields_for :quiz do |quiz| %>
                <%= quiz.label :passing_score, "Passing Score %"%>
                <%= quiz.text_field :passing_score, :class => 'input-full'%>
              
              <%= quiz.fields_for :quiz_questions do |question| %>
                <fieldset>
                  <%=question.label :question, "Question " + i.to_s, :class => "question_label"%><span style="float:left;">(Check the correct answer)</span>
                  <% i += 1 %>
                  <%=question.text_field :question, :class => 'input-full'%>
                  <%= question.fields_for :quiz_answers do |answer| %>
                    <%= answer.label :answer, :class => 'answer', :class => "answer_label"%>
                    <%= answer.check_box :correct_answer, :class => 'input-check correct_answer'%>
                    <%= answer.text_field :answer, :class => 'input-full answer'%>
                  <% end %>
                </fieldset>
              <% end %>
            <% end %>
          
        <% end %>
        <div class="actions">
          <% if @course_module.class_type == "Quiz" %>
            <%= f.submit 'Add question', :name => "add_question", :class => 'btn btn-primary'  %>
          <% end %>
          <%= f.submit :class => 'btn btn-primary' %>
        </div>
      </div>
      
    </div>
  <% end %>
</div>
