<%= render 'courses/courses_admin_menu' %>

<div class="container-fluid">
  <div id="flash">
    <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
  </div>
  <ul class="nav nav-tabs">
    <li>
      <%= link_to 'Basic Info', edit_course_path(@course) %>
    </li>
    <li class="active">
      <%= link_to 'Modules', course_course_modules_path(@course) %>
    </li>
  </ul>
  <div class="row-fluid">
  <div class="span9">
    <table class="table table-hover">
      <tbody>
          <% 
          if @course_modules.empty? 
            %>
              <tr><td>No Course Modules.</td></tr> 
            <%
          end
          $i = 1;
          @course_modules.each do |course_module| %>
            <tr>
              <td>
                <div class="part">
                  Part <%=$i %>
                </div>
                <div class="title">
                  <%= course_module.name %> (<%=course_module.class_type %>)
                </div>
              </td>
              <td>
                <div class="commands">
                  <ul>
                    <li>
                      <%= link_to 'Edit', edit_course_course_module_path(@course, course_module) %>
                    </li>
                    <li>
                      <%= link_to 'Destroy', course_course_module_path(@course, course_module), confirm: 'Are you sure?', method: :delete %>
                    </li>
                  </ul>
                </div>
              </td>
            </li>
            <% $i +=1%>
            </tr>
          <% end %>
      
        </tbody>
      </table>
    </div>
  
      <div class="span3">
        <div class="btn-group">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            Add new module
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="<%=new_course_course_module_path %>?type=Audio">Audio</a></li>
            <!--li><a href="<%=new_course_course_module_path %>?type=eBook">eBook</a></li-->
            <li><a href="<%=new_course_course_module_path %>?type=Image">Image</a></li>
            <li><a href="<%=new_course_course_module_path %>?type=Video">Video</a></li>
            <li><a href="<%=new_course_course_module_path %>?type=Quiz">Quiz</a></li>
          </ul>
        </div>
      </div>
  </div>
          


</div>

