<%= render 'courses/courses_admin_menu' , :highlight => "courses" %>

<div class="container-fluid">
  <div id="flash">
    <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
  </div>
  <ul class="nav nav-tabs">
    <li>
      <%= link_to 'Basic Info', edit_course_path(@course) %>
    </li>
    <li class="active">
      <%= link_to 'Modules', course_course_modules_path(@course) %>
    </li>
  </ul>
  <div class="row-fluid">
    <div class="span9">
          <% 
          if @course_modules.empty? 
            %>
              No Course Modules.
            <%
          end
            @course_modules.each_with_index do |course_module, index| %>
            <div class="commands">
              <ul>
                <li>
                  <%= link_to 'Edit', edit_course_course_module_path(@course, course_module) %>
                </li>
                <li>
                  <%= link_to 'Delete', course_course_module_path(@course, course_module), confirm: 'Are you sure?', method: :delete %>
                </li>
              </ul>
            </div>
            <ul class="module_table">
              <%= render :partial => "module_item", :locals => {:course_module => course_module}  %>
            </ul>
            

          <% end %>
    </div>
  
    <div class="span3">
      <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          Add Module
          <span class="caret"></span>
        </a>
        
        <ul class="dropdown-menu">
          <li><a href="<%=new_course_course_module_path %>?type=Audio">Audio</a></li>
          <!--li><a href="<%=new_course_course_module_path %>?type=eBook">eBook</a></li-->
          <li><a href="<%=new_course_course_module_path %>?type=Image">Image</a></li>
          <li><a href="<%=new_course_course_module_path %>?type=Video">Video</a></li>
          <li><a href="<%=new_course_course_module_path %>?type=Quiz">Quiz</a></li>
        </ul>
      </div>
    </div>
      
    <div class="span3">
      <div class="btn-group">
        <%= link_to 'ReOrder Modules', reorder_course_course_modules_path(@course), :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
          
</div>

