<div class="container-fluid">
</br>

<div class="row-fluid">
<div class="span6">
<% if @forum.course_id %>
	<h3>Course Name: <%= @course.name %></h3>
<% end %>
<h4> Forum Name: <%= @forum.name %> </h4>
<h4> Topic Name: <%= @topic.name %> </h4>
</br>
<h4>Topic Posts</h4>
</div>
</div>


</br></br>

<div class="row-fluid">
    <div class="span10"></div>
	<div class="span2">
		<%= link_to "Reply", :controller => "forumposts", :action => "new", :topic_id => @topic %>
    </div>
<div class="span12">
<div class="table table-hover">
<body>
<table class="table-bordered table-striped">
	<tr>
		<th width="20%">Posted By</th>
		<th width="20%">Created</th>
		<th width="60%">Post Content</th>
	</tr>

<% for forumpost in @topic.forumposts %>
	
	<tr>
		<td><%= link_to forumpost.user.name, forumpost.user %></td>
		<td><%= distance_of_time_in_words_to_now forumpost.created_at %> ago</td>
		<td class="right"><%= forumpost.content %></td>
	</tr>
<% end %>

</table>
</body>
</div>
</div>
</div>


</br> 

<div>
  	<%= link_to "View All Topics", forum_path(@topic.forum_id) %>
</div>
