<h2><%= @course.name %></h2>

<div class="tab-container course-class">
    <div class="subnav">
        <ul class="tabs">
            <li class="tab-header classes-tab selected">
              <span>
                <%= link_to 'Classes', course_course_modules_path(@course) %>
              </span>
            </li>
        </ul>
        <span class="tab-bg"></span>
      </div>
      <div class="metadata-container">
      	<br/>
        <ul class="modules">
          <% 
          if @course_modules.empty? 
            %>
              You have no course classes, you must create a course class before you can view it's statistics.
            <%
          end
          $i = 1;
          @course_modules.each do |course_modules| %>
            <li>
              <div class="part">
                Part <%=$i %>
              </div>
              <div class="summary">
                <div class="title">
                  <%= course_modules.name %> (<%= course_modules.class_type %>) - <%= link_to 'View Statistics', statistic_path(@course, course_modules) %>
                </div>
              </div>
            </li>
            <% $i +=1%>
          <% end %>
        </ul>

      </div>
</div>

