
<%= form_for [@courseforum, @forum], :url => {:action => "create" } do |f| %>
  <%= f.error_messages %>
  <% if @course %>
	<input type="hidden" id="course_forum_id" name="courseforum[course_id]" value="<%= @course.id %>" />
  <% end %>
  
  <%= f.fields_for :forum do |fr| %>
  	<p>
    		<%= fr.label :name %><br />
    		<%= fr.text_field :name %>
  	</p>
  	<p>
    		<%= fr.label :description %><br />
    		<%= fr.text_area :description %>
  	</p>
  <% end %>

  <p><%= f.submit "Create Course Forum" %></p>

<% end %>
