<%
max_display = 5
i = 0
%>
<% if @facebook_friends %>
  <h3>Facebook Friends (<%=@facebook_friends.length%>) <%= link_to 'see all', facebook_friends_user_path(current_user) %> </h3>
  <%= while i<max_display && i<@facebook_friends.length do %>
    <div class="row">
    <div class="span4"><%= image_tag(@facebook_friends[i][:image], :size => "32x32") %> <%= @facebook_friends[i]["name"] + '  ' %></div>
    <div class="span2"><%= link_to 'http://www.facebook.com/dialog/send?app_id='+$FACEBOOK_APP_ID+'&name=Social%20University&link=http://callsource.plu.com/plu&redirect_uri='+request.protocol+request.host+':'+request.port.to_s+'/users/'+current_user.slug+'&to='+@facebook_friends[i]["id"]+'&description=Here you are able to take and create courses easily. Its a revolutionizing way to take courses. It will help you get the job you have always wanted!' do %>
      <%= image_tag 'facebook_32.png' %>send
    <% end %></div></div>
    <br>
    <% i += 1 %>
  <% end %>
  <br/>
<% else %>
  <%= button_to 'Show Facebook Friends', '/auth/facebook', :class => 'btn btn-primary' %>
<% end %>

