<% content_for :sub_menu do %>
<div class="navbar navbar-static-top courses_navbar">
  <div class="navbar-inner sub-nav">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      <nav class="nav-collapse">
        <ul class="nav pull-left">
          <li class="<%= activate_menu("profile", highlight) %>">
            <%= link_to current_user do %> 
              <i class="icon-file icon-white"></i>Profile
            <% end %>  
          </li>
          <% if @user == current_user %>
          <li class="<%= activate_menu("friends", highlight) %>">
            <%= link_to facebook_friends_user_path(current_user) do %>
              <i class="icon-thumbs-up icon-white"></i>Friends
            <% end %>
          </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>

<script>
  <% flash.each do |key, value| %>
        $.jGrowl("<%= value %>");
  <% end %>
</script>
<% end %>
