<% provide(:title, @user.name) %>

<div class="row">
  <div class="row-fluid">
    <div class="span2"></div>
        <div class="span3">
          <h1>
          	<% if current_user == @user %>
        	   	<%= link_to image_tag(@avatar.image.url(:medium)), edit_avatar_path(@avatar) if @user.avatar? %>
        	   	<%= render :partial => 'avatars/form' %>
    	   	
            <% else %>
            	<%= image_tag(@avatar.image.url(:medium)) if @user.avatar? %>
        	   	<%= image_tag('default_avatar.jpg') if !@user.avatar? %>
       		<% end %>      
       		
       		<h3><%= @user.name %></h3>
       		</h1>
            <%= render 'shared/stats' %>
        </div>
        <div class="span4"></div>
    </div>

    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span3">
          <%= render :partial => 'shared/twitter_feed'%>
          <%= render :partial => 'shared/tweet' %>
      </div>
      <div class="span6">
        <% if @profile && (@profile.name || @profile.headline || @profile.summary) %>
          <h3>Saved Profile</h3>
          Name: <%= @profile.name %><br/><br/>
          Headline: <%= @profile.headline %><br/><br/>
          Summary: <%= @profile.summary %><br/><br/>
          <% if @profile.public_profile_url %>
            <%= link_to 'Public Profile', @profile.public_profile_url, :target => '_blank' %><br/><br/>
          <% end %>
        <% end %>
        <% if @linkedin_profile && (@linkedin_profile.name || @linkedin_profile.headline || @linkedin_profile.summary) %>
          <h3>Linked In Profile</h3>
          Name: <%= @linkedin_profile.name %><br/><br/>
          Headline: <%= @linkedin_profile.headline %><br/><br/>
          Summary: <%= @linkedin_profile.summary %><br/><br/>
          <% if @linkedin_profile.public_profile_url %>
            <%= link_to 'Public Profile', @linkedin_profile.public_profile_url, :target => '_blank' %><br/><br/>
          <% end %>
          <%= button_to 'Update From Linked In', '/auth/linkedin', :class => 'btn btn-primary' %>
          <%= button_to 'Edit', edit_linkedin_profile_path, :class => 'btn btn-primary' %>
        <% else %>
          <%= button_to 'Get Linked In Profile', '/auth/linkedin', :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>

  </div>
</div>
