<% provide(:title, @user.name) %>

<div class="row">
  <div class="row-fluid">
    <div class="span2"></div>
        <div class="span3">
          <h1>
          	<% if current_user == @user %>
        	   	<%= link_to image_tag(@avatar.image.url(:medium)), edit_avatar_path(@avatar) if @user.avatar? %>
        	   	<%= render :partial => 'avatars/form' %>
    	   	
            <% else %>
            	<%= image_tag(@avatar.image.url(:medium)) if @user.avatar? %>
        	   	<%= image_tag('default_avatar.jpg') if !@user.avatar? %>
       		<% end %>      
       		
       		<h3><%= @user.name %></h3>
       		</h1>
            <%= render 'shared/stats' %>
        </div>
        <div class="span4"></div>
    </div>

    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span3">
          <%= render :partial => 'shared/twitter_feed'%>
          <%= render :partial => 'shared/tweet' %>
      </div>
      <div class="span6">
        <%= render :partial => 'facebook_friends' %>
        <%= render :partial => 'saved_profile' %>
        <%= render :partial => 'linkedin_profile' %>
      </div>
    </div>
  </div>
</div>
