<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<% if current_user == @user %>
    	   	<%= link_to image_tag(@avatar.image.url(:thumb)), edit_avatar_path(@avatar) if @user.avatar? %>
    	   	<%= link_to image_tag('default_avatar.jpg'), new_avatar_path if !@user.avatar? %>
    	  	<%= @user.name %>
        <% else %>
        	<%= image_tag(@avatar.image.url(:thumb)) if @user.avatar? %>
    	   	<%= image_tag('default_avatar.jpg') if !@user.avatar? %>
    	  	<%= @user.name %>
   		<% end %>      
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span3">
      <%= render :partial => 'shared/twitter_feed'%>
      <%= render :partial => 'shared/tweet' %>
  </div>
  <div class="span6">
    <% if @profile && (@profile.name || @profile.headline || @profile.summary) %>
      <h3>Saved Profile</h3>
      Name: <%= @profile.name %><br/><br/>
      Headline: <%= @profile.headline %><br/><br/>
      Summary: <%= @profile.summary %><br/><br/>
    <% end %>
    <% if @linkedin_profile && (@linkedin_profile.name || @linkedin_profile.headline || @linkedin_profile.summary) %>
      <h3>Linked In Profile</h3>
      Name: <%= @linkedin_profile.name %><br/><br/>
      Headline: <%= @linkedin_profile.headline %><br/><br/>
      Summary: <%= @linkedin_profile.summary %><br/><br/>
      <%= button_to 'Update From Linked In', '/auth/linkedin', :class => 'btn btn-primary' %>
      <%= button_to 'Edit', edit_linkedin_profile_path, :class => 'btn btn-primary' %>
    <% else %>
      <%= button_to 'Get Linked In Profile', '/auth/linkedin', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
