<% provide(:title, "Sign in") %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal well"}) do |f| %>
      <h3>Sign in</h3>

      <%= display_devise_error_messages %>

      <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
          <%= f.email_field :email %>
        </div>    
      </div>

      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>    
      </div>

       <% if devise_mapping.rememberable? %>
          <div class="controls remember_me">
            <label class="checkbox">
              <%= f.check_box :remember_me, :class => "checkbox" %>
              <span>Remember Me</span>
            </label>
          </div>    
      <% end %>

      <div class="controls">
        <%= f.submit "Sign in", class: "btn btn-primary" %>

        <%= render "shared/login_authentication_links" %>

        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>