
<div class="container-fluid search-results">
  <div class="row-fluid">
    <div class="span2" style="border: 1px solid #DDDDDD; padding:10px;-moz-border-radius: 6px;-webkit-border-radius: 6px;-khtml-border-radius: 6px;border-radius: 6px;">
      <h3>Filters</h3>
      <div id="facets">
        <h4>Course Ratings</h4>
        <ul>
          
          <% @facets.results.facets['course_ratings']['terms'].each do |facet| %>
            <li>
            <%= link_to_unless_current facet['term'], params.merge(course_rating: facet['term']) %>
            <% if params[:course_rating] == facet['term'].to_s 
              temp = params.dup
              temp.delete :course_rating
             
            %>
              (<%= link_to "remove", temp %>)
            <% else %>
              (<%= facet['count'] %>)
            <% end %>
            </li>
            
            
          <% end %>
        </ul>
      </div>
      <div id="facets">
        <h4>Course Creator</h4>
        <ul>
          <% @facets.results.facets['authors']['terms'].each do |facet| 
            username = User.find(facet['term']).name
            %>
            <li>
              <%= link_to_unless_current username, params.merge(author: facet['term']) %>
              <% if params[:author] == facet['term'].to_s 
                temp = params.dup
                
                temp.delete :author
              %>
                (<%= link_to "remove", temp %>)
              <% else %>
                (<%= facet['count'] %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="facets">
        <h4>Industry</h4>
        <ul>
          <% @facets.results.facets['industries']['terms'].each do |facet| %>
            <li>
              <%= link_to_unless_current facet['term'], params.merge(industry: facet['term']) %>
              <% if params[:industry] == facet['term'].to_s 
                temp = params.dup
                
                temp.delete :industry
              %>
                (<%= link_to "remove", temp %>)
              <% else %>
                (<%= facet['count'] %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span10">
      <%= @courses.results.total %>
      <table class="table table-hover search-results">
        <% 
        @courses.results.each do |course| 
          if course.type == 'course'
          # Need to find a more effiecient way of doing this
          bookmark = current_user.bookmarks.where(:course_id => course.id).first
        %>
          <tr>
            <td>
              <div class="title"><%= link_to course.name, course_path(course) %></div>
              <div class="action" style="float:right;">
                <% if !bookmark %>
                  <%= link_to "Bookmark", course_path(course)+"/bookmark", :class => "btn btn-small btn-primary bookmark", :remote => true %>
                <% else %>
                  <span class="label">bookmarked</span>
                <% end %>
              </div>
              <div class="description"><%= truncate course.description, :length => 300 %></div>
              <div class="description">test: <%= truncate course.user_name, :length => 300 %></div>
              CourseRate: <%=course.course_rating %>
            </td>
          </tr>
          
        <% 
          else
             %>
            <tr>
            <td>
              <div class="title"><%= link_to course.name, user_path(course) %> - User Bio will go here.</div>
            </td>
          </tr>
             <%
          end
        end %>
      </table>
      
    </div>
  </div>
</div>
