
<%= render 'courses_admin_menu' %>

<div class="container-fluid user_courses_container">
  <div class="row-fluid">
    <div class="span9">
      <table class="table table-hover">
        <tbody>
          <% 
          if @courses.empty? 
            %>
              <tr><td>No Courses.</td></tr> 
            <%
          end
          @courses.each do |course| %>
            <tr>
              <td>
                <div class="title"><%= link_to course.name, :controller => "courses", :action => "edit", :id => course%></div>
                
                <% if course.published %>
                  <span class="label label-success">Published</span>
                <% else %>
                  <span class="label">Draft</span>
                <% end %>
                <span class="created_at"><%= course.created_at.to_formatted_s(:long) %></span>
              </td>
              <td class="commands">
                <%= link_to 'View Statistics', :controller => "statistics", :action => "index", :id => course%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>      
    </div>
    <div class="span3">
      <%= link_to 'Create New Course', {:controller => "courses", :action => "new"}, :class => 'btn btn-primary' %>    
    </div>
  </div>
</div>
