<%= render 'courses_admin_menu' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <table class="table table-hover">
        <tbody>
          <% 
          if @courses.empty? 
            %>
              <tr><td>No Courses.</td></tr> 
            <%
          end
          @courses.each do |course| %>
            <tr>
              <td>
                <div class="title"><%= link_to course.name, :controller => "courses", :action => "edit", :id => course%></div>
                <span class="created_at"><%= course.created_at.to_formatted_s(:long) %></span>
              </td>
              <td>
                <div class="commands">
                  <ul>
                    <li>
                      <%= link_to 'View Statistics', :controller => "statistics", :action => "index", :id => course%>
                    </li>
                    <li>
                      <%= link_to "Delete", course, method: :delete,
                                                 data: { confirm: "You sure?" },
                                                 title: course.name %> </span>
                    </li>
                     <li>
          			<%= link_to 'List Course Forums', :controller => "forums", :action => "index", :course_id => course %>
        		   </li>
			   <li>
          			<%= link_to 'Create Course Forum', :controller => "forums", :action => "new", :course_id => course %>
        		   </li>
	            </ul>
                </div>
                
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>      
    </div>
    <div class="span3">
      <%= link_to image_tag("plus-icon.png", :border => 0) + 'Create New Course', {:controller => "courses", :action => "new"}, :class => 'image-link' %>    
    </div>
  </div>
</div>
