<%= render 'courses_menu', :highlight => 'courses'%>

<div class="container-fluid user_courses_container">
  <div class="row-fluid">
    <div class="span12">
      <h3>In Progress</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-hover">
        <tbody>
          <% 
          if @course_histories.empty? 
            %>
              <tr><td>No Courses.</td></tr> 
            <%
          end
          @course_histories.each do |course_history| 
            course = course_history.course
            %>  
            <tr>
              <td>
                <div class="title"><%= link_to course.name, :controller => "courses", :action => "start", :id => course %></div>
                
                <div class="description"><%= truncate course.description, :length => 300 %></div>
                <span class="status"><%= course_history.status %></span> - <span class="created_at"><%= course.created_at.to_formatted_s(:long) %></span>
                <%= ratings_for course, :static %>
                  
                <span class="status">
                  <%
                  if course_history.status == "in_progress"
                  %>
                    <span class="label label-warning">In Progress</span>
                  <% else %>
                    <span class="label label-success">Complete</span>
                  <% end %>
                </span>
                <span class="created_at">
                  <%= course.created_at.to_formatted_s(:long) %>
                </span>

              </td>
              <td nowrap>
                <%= link_to course_history.status == "completed"?'Review Course':'Resume Course', :controller => "courses", :action => "start", :id => course %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h3>Course Library</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-hover">
        <tbody>
          <% 
          if @courses.empty? 
            %>
              <tr><td>No Courses.</td></tr> 
            <%
          end
          @courses.each do |course| %>
            <tr>
              <td>
                <div class="title"><%= link_to course.name, course_path(course) %></div>
                <div class="description"><%= truncate course.description, :length => 300 %></div>
                <%= ratings_for course, :static %>
              </td>
              <td nowrap>
                <%= link_to 'View Course', course_path(course) %>
              </td>
		   <td nowrap>
			<%= link_to "Course Forums", :controller => "forums", :action => "index", :course_id => course %>
		   </td>
            </tr>
          <% end %>
        </tbody>
      </table>      
    </div>
  </div>
</div>

