<%= render 'courses_menu', :highlight => "courses" %>
<div class="container-fluid ">
  <form class="form-search">
    <input type="text" class="input-large search-query" value="<%=params[:q] %>" name="q">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-hover search-results">
        <% 
        if @courses.empty? 
          %>
            <tr><td>No Courses.</td></tr> 
          <%
        end
        @courses.each do |course| 
          # Need to find a more effiecient way of doing this
          bookmark = current_user.bookmarks.where(:course_id => course.id).first
        %>
          <tr>
            <td>
              <div class="title"><%= link_to course.name, course_path(course) %></div>
              <div class="action" style="float:right;">
                <% if !bookmark %>
                  <%= link_to "Bookmark", course_path(course)+"/bookmark", :class => "btn btn-small btn-primary bookmark", :remote => true %>
                <% else %>
                  <span class="label">bookmarked</span>
                <% end %>
              </div>
              <div class="description"><%= truncate course.description, :length => 300 %></div>
              <span class="created_at"><%= course.created_at.to_formatted_s(:long) %></span>
              <%= ratings_for course, :static %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
