<%= render 'courses_menu', :highlight => "courses" %>
<div class="container-fluid course-view">
  <div class="row-fluid">
    <div class="span12">
      <h3><%=@course.name %></h3>
      <%= link_to "Start", {:controller => "courses", :action => "start", :id => @course}, :class => "btn btn-success" %>
      <p>
        <%= @course.description %>
      </p>
      <p>
      	<b>Course Rating:</b> <%= ratings_for @course, current_user %>	
      </p>

    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <b>Modules:</b>
      <table class="table table-hover">
        <tbody>
          <% 
          @course.course_modules.each_with_index do |course_module, index|
          %>
          <tr>
            <td><span>Part <%= index + 1 %></span> - <%= course_module.name %> (<%=course_module.class_type %>)
            <p><%= course_module.summary %></p>  
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


