<div class="container-fluid">
  <%= form_for @linkedin_profile do |f| %>
  <div class="row">
    <div class="span6 offset4">
      <h2>Edit Profile</h2>
      <%= f.hidden_field :user_id%>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, :class => 'input-full'%>
      <%= f.label :headline, "Headline" %>
      <%= f.text_field :headline, :class => 'input-full'%>
      <%= f.label :summary, "Summary" %>
      <%= f.text_area :summary, :class => 'input-full'%>
      <%= f.submit "Update Profile", :class => 'btn btn-primary' %>
      <p>Changes will be updated on this site only, not on Linked In.</p>
    </div>
  </div>
  <% end %>
</div>
