<!DOCTYPE html>
<html>
<head>
  <title>Social University</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= ajaxful_rating_style %>
  <%= stylesheet_link_tag('ajaxful_rating') %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container main">
    <%= yield %>
  </div>
 </body>
</html>
